@import url('https://fonts.googleapis.com/css2?family=Boldonse&family=Galindo&family=Gidole&family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
}

body::-webkit-scrollbar {
    display: none;
}

main {
    width: 100vw;

    background: hsla(239, 100%, 67%, 1);

    background: linear-gradient(90deg, hsla(239, 100%, 67%, 1) 0%, hsla(187, 100%, 89%, 1) 100%);

    background: -moz-linear-gradient(90deg, hsla(239, 100%, 67%, 1) 0%, hsla(187, 100%, 89%, 1) 100%);

    background: -webkit-linear-gradient(90deg, hsla(239, 100%, 67%, 1) 0%, hsla(187, 100%, 89%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#595CFF", endColorstr="#C6F8FF", GradientType=1);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

.game {
    width: 88%;
    height: 74%;
    background-color: #2ec4b6;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem 0 1rem 0;
}

/* 🔥top styles */
.top {
    width: 100%;
    height: 46px;
    display: flex;
    justify-content: center;
    gap: 5rem;
    background-color: #2ec4b6;
    border-bottom: 1px solid black;
    border-radius: 1rem 0 0 0;
}

.hit,
.timer,
.score {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: .9rem;
}

#score,
#hit {
    background-color: #fff;
    text-align: center;
    width: 2rem;
    border-radius: .1rem;
    font-weight: bold;
    font-size: 1rem;
}

#timer {
    background-color: #fff;
    text-align: center;
    width: 6rem;
    border-radius: .1rem;
    font-weight: bold;
    font-size: .95rem;
}

/* 🔥bubbles styles */
.bubbles {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    padding: 6px;
    /* overflow: hidden; */
    box-sizing: border-box;
}

.game::-webkit-scrollbar {
    display: none;
}

.bubble {
    width: 48px;
    height: 48px;
    background-color: #cbf3f0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 2px solid 38040e;
}


.bubble:hover {
    background-color: #57cc99;
}

/* 🔥title styles */
.title-card {
    margin: auto;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .3rem;
    padding: 8px;
}

.start {
    cursor: pointer;
    width: 8rem;
    height: 2.6rem;
    border: none;
    background-color: #ff9f1c;
    border-radius: .2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.hide {
    display: none;
}

/* 🔥responsive styles */

@media (max-width:680px) {
    .top {
        gap: 4px;
    }

    .hit,
    .timer,
    .score {
        display: flex;
        align-items: center;
        gap: .1rem;
        font-size: .65rem;
    }

    .game {
        width: 95%;
        height: 85%;
    }

    .bubbles {
        font-weight: bold;
    }
}